<!-- include libraries(jQuery, bootstrap) -->






{% block title %} <title> Docker File Repository Management Tool </title>{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<script type="text/javascript" src="http://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>

{% import "bootstrap/wtf.html" as wtf %}


{% endblock %}

{% block navbar %}
    <div class="container-fullwidth">

    <div class="navbar navbar-inverse">

        <ul class="nav nav-pills text-bold custom">
            <li>
                <a class="active">My Containers</a>
            </li>

            <li>
                <a >My Dockerfile templates</a>
            </li>

            <li>
                <a  >My Docker Compose templates</a>
            </li>


            <li>
                <a  >DockerFile Repository</a>
            </li>
            <li >
                <a  >Docker Compose Repository</a>
            </li>

            <li class="navbar-right" >
                <a>Logout</a>
            </li>

            <li class="navbar-right" style="padding-right: 15px; color: white">
                Welcome
            </li>




            <li>
                <a>Help</a>
            </li>

        </ul>

    </div>

{% endblock %}

{% block content %}

    <div class="row">
  <div class="col-sm-3">

    <div class="thumbnail">
        <p>
          <a href="#" class="btn btn-primary" role="button">
                Dockerfile
            </a>
      </p>
        <image src="{{url_for('static',filename="container.png") | escape}}" height="50" width="100"/>
      <div class="caption">
        <h3>It's in Running state</h3>
        <p></p>
        <p>
            <a href="#" class="btn btn-danger" role="button">
                Stop
            </a>
            <a href="#" class="btn btn-warning" role="button">
                Restart
            </a>
            <a href="#" class="btn btn-primary" role="button">
                View Logs
            </a>
        </p>
      </div>
    </div>
  </div>
    </div>
{% endblock %}

<footer>Environment Variables:<br>

<table style="width:100%">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
    {%  for key,value in all_envs.iteritems() %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
    {% endfor %}
</table>



          <br>

</footer>